{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<style>
#style{
    margin-left: 286px;
    width: 50%;
}
label{
     margin-left: 286px; 
}
button{
    margin-left: 286px;
}
@media only screen and (max-width: 600px) {
  .form-control {
     margin-left:0px;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  label {
     margin-left:0px;
  }
}
@media only screen and (max-width: 600px) {
  button {
     margin-left:0px;
  }
}
h1 {
    text-align: center;
    margin: 20px;
}

</style>
    <h1>nuevo o editando Inicio</h1>
    <form id="style" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-info">Guardar</button>
    </form>
{% endblock %}