{% extends 'base.html' %}
{% load static from staticfiles %}
{% load staticfiles %}
{% block content %}
<style>
#movecenter{
     text-align: center;
     padding: 20px;
}
</style>
{% for index_photo  in index_photos %}
<div class="container">
<div class="row">
<div class="col-12">
<h2 id="movecenter">{{ index_photo.title }}</h2>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-6 col-lg-6">
<div class="product" style=" margin:15px; background-image: url('{{ MEDIA_URL }}{{ index_photo.image }}');height: 500px;">
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-6">
<div class="product" style=" margin:15px; background-image: url('{{ MEDIA_URL }}{{ index_photo.images }}');height: 500px;"></div>
</div>
</div>
</div>
<div id="style-images-index">
<div class="container">
<div class="row">
<div class="col-3">
<div class="product" style=" margin:15px; background-image: url('{{ MEDIA_URL }}{{ index_photo.imagess }}');height: 250px;">
</div>
</div>
<div class="col-3">
<div class="product" style=" margin:15px; background-image: url('{{ MEDIA_URL }}{{ index_photo.imagesss }}');height: 250px;">
</div>
</div>
<div class="col-3">
<div class="product" style=" margin:15px; background-image: url('{{ MEDIA_URL }}{{ index_photo.imagessss }}');height: 250px;">
</div>
</div>
<div class="col-3">
<div class="product" style=" margin:15px; background-image: url('{{ MEDIA_URL }}{{ index_photo.imagesssss }}');height: 250px;">
</div>
</div>
</div>
</div>
</div>
{% if user.is_authenticated %}
<div class="container">
<div class="row">
<div class="col-12">
<div id="register">
<p> {{ index_photo.content }} <span><a href="#">Registrate</a></span>
</div>
</div>
</div>
</div>
 {% else %}
 <div class="container">
<div class="row">
<div class="col-12">
<div id="register">
<p> Registrate para resibir 10% <span><a href="#">Productos</a></span>
</div>
</div>
</div>
</div>
{% endif %}
{% endfor %}
<div class="container">
<div class="row">
<div class="col-12">
<div id="map">
</div>
</div>
</div>
</div>

  {% endblock %}