{% extends 'base.html' %}
{% load static from staticfiles %}
{% load staticfiles %}
{% block content %}
{% for index_photo  in index_photos %}
{% if request.user.is_superuser %}
<a class="dropdown-item" href="{% url 'edit_index' index_photo.id %}">editar inicio</a>
{% else %}
{% endif %}
<div class="container">
<div class="row">
<div class="col-12">
<h2 id="movecenter">{{ index_photo.title }}</h2>
<hr>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-6 col-lg-6" id="hide-img-when-small-screen">
<img class="mySlides" src="{{ MEDIA_URL }}{{ index_photo.image }}" style=" width:100%; height: 500px;"/>
 <img class="mySlides" src="{{ MEDIA_URL }}{{ index_photo.image_1 }}" style="width:100%; height: 500px;">
  <img class="mySlides" src="{{ MEDIA_URL }}{{ index_photo.image_2 }}" style="width:100%; height: 500px;">
  <img class="mySlides" src="{{ MEDIA_URL }}{{ index_photo.image_3 }}" style="width:100%; height: 500px;">
</div>
<div class="col-sm-12 col-md-6 col-lg-6" id="image-display-in-small-screen">
<img class="mySlide" src="{{ MEDIA_URL }}{{ index_photo.images }}" style=" width:100%; height: 500px;"/>
<img class="mySlide" src="{{ MEDIA_URL }}{{ index_photo.images_1 }}" style=" width:100%; height: 500px;"/>
<img class="mySlide" src="{{ MEDIA_URL }}{{ index_photo.images_2 }}" style=" width:100%; height: 500px;"/>
<img class="mySlide" src="{{ MEDIA_URL }}{{ index_photo.images_3 }}" style=" width:100%; height: 500px;"/>
</div>
</div>
<hr>
<div class="container" id="style-icons-on-index">
<div class="row">
<div class="col-sm-6 col-md-3 col-lg-3 style-icons-index">
<i class="fa fa-euro"></i>
<h4>trade Forex</h4>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ipsum!</p>
<button><a href="#">learn more </a></button>
</div>
<div class="col-sm-6 col-md-3 col-lg-3 style-icons-index">
<i class="fa fa-bitcoin"></i>
<h4>trade Crypto</h4>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ipsum!</p>
<button><a href="#">learn more </a></button>
</div>
<div class="col-sm-6 col-md-3 col-lg-3 style-icons-index">
<i class="fa fa-globe"></i>
<h4>Invest In stocks</h4>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ipsum!</p>
<button><a href="#">learn more </a></button>
</div>
<div class="col-sm-6 col-md-3 col-lg-3 style-icons-index">
<i class="fa fa-angellist"></i>
<h4>24/7 support</h4>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ipsum!</p>
<button><a href="#">learn more </a></button>
</div>
</div>
</div>
<hr>

<div class="container" id="img-background-colour">
<div class="row" id="style-for-images-at-the-bottom">
<div class="col-12">
<h3>What We Offer</h3>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 style-for-images-at-the-bottom">
<img src="{{ MEDIA_URL }}{{ index_photo.imagess }}" style=" width:100%; height: 100%;"/>
 <p class="centered"> <a href="#"> a stock broker </a></p>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 style-for-images-at-the-bottom">
<img src="{{ MEDIA_URL }}{{ index_photo.imagesss }}" style=" width:100%; height: 100%;"/>
<p class="centered"> <a href="#">book a course </a></p>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 style-for-images-at-the-bottom">
<img src="{{ MEDIA_URL }}{{ index_photo.imagessss }}" style=" width:100%; height: 400px;"/>
<p class="centered"><a href="#">use an App</a></p>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 style-for-images-at-the-bottom">
<img src="{{ MEDIA_URL }}{{ index_photo.imagesssss }}" style=" width:100%; height: 400px;"/>
<p class="centered"><a href="#">Our merchandice</a></p>
</div>
</div>
</div>

{% if user.is_authenticated %}

<div class="col-12">
<div id="register">
<p> {{ index_photo.content }} <span><a href="#">Productos</a></span>
</div>
</div>
</div>
 {% else %}
 <div class="container">
<div class="row">
<div class="col-12">
<div id="register">
<p> {{ index_photo.content }} <span><a href="#">Registrate</a></span>
</div>
</div>
</div>
</div>
{% endif %}
{% endfor %}
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 3000); 
}

var myIndexs = 0;
carousels();

function carousels() {
  var i;
  var x = document.getElementsByClassName("mySlide");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndexs++;
  if (myIndexs > x.length) {myIndexs = 1}    
  x[myIndexs-1].style.display = "block";  
  setTimeout(carousels, 3000); 
}
</script>

  {% endblock %}