{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<style>
#style{
    margin-left: 286px;
    width: 50%;
}
label{
     margin-left: 286px; 
}
button{
    margin-left: 286px;
}
@media only screen and (max-width: 600px) {
  .form-control {
     margin-left:0px;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  label {
     margin-left:0px;
  }
}
@media only screen and (max-width: 600px) {
  button {
     margin-left:0px;
  }
}
h1 {
    text-align: center;
    margin: 20px;
}

</style>
    <form id="style" method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
        <fieldset class="form-group">
            <legend>Login</legend>
            {% csrf_token %}
            {{ user_form | as_bootstrap }}
            
             <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
             
            <button type="submit" class="btn btn-primary">Login</button>
        </fieldset>
    </form>
{% endblock %}