/* code for nav bar */
nav{
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}
.navbar-brand{
    font-size: 30px;
    margin-right: 60px;
    margin-left: 30px;
}
/* code for images in index */
 img {
     margin-top: 20px;
 }
 .style-index-text {
text-align: center;
margin-top: 50px;
background-color: #c9c9ca;
height: 46px;
 }
 #register{
     margin-top: 50px;
     text-align: center;
 }
  #map {
            min-height: 360px;
        }

.product{
    margin: 20px;
}
/* code for styling footer */
#full-width i{
font-size: 25px;
transition: 0.3s ease-in-out;
border: 4px solid #000;
border-radius: 50%;
padding: 10px;
cursor: pointer;
}
#full-width i:hover{
    border: 3px solid #18d8d4;
    color: #18d8d4;
}
#full-width h6{
font-size: 20px;
letter-spacing: 1px;
}
#style-footer-links p a{
 color: #000000;
 transition: 0.5s ease;
}
#style-footer-links p a:hover{
    text-decoration: none;
    color: red;
}
/* code for the index page */
#movecenter{
     text-align: center;
     padding: 20px;
     text-transform: uppercase;
     font-family: 'Ubuntu', sans-serif; 
     
}
.mySlides {display:none;}
.mySlide {display:none;}
@media only screen and (max-width: 600px) {
  #hide-img-when-small-screen {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  #image-display-in-small-screen img{
    height: 400px !important;
  }
}
/* code for styling the cards in the index page */
#style-icons-on-index{
 margin: 10px;
}
.style-icons-index{
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin-top: 15px;

}
.style-icons-index h4{
  font-family: 'Ubuntu', sans-serif;  
  font-size:20px;
  text-align: center;
  font-weight: bold;
}
.style-icons-index p{
  font-family: 'Ubuntu', sans-serif;  
  font-size:16px;
  text-align: justify;
}
/* code for styling the button */
.style-icons-index button{
     font-size: 16px;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    background-color: #0ae6f78f;
    border: none;
    box-shadow: 5px 1px 16px 4px #17a2b8;
    font-family: 'Ubuntu', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
    font-weight: bold;
}
.style-icons-index button:hover{
   box-shadow: 5px 1px 16px 4px #0a26f78f; 
   background-color: #17a2b8;
   border-radius: 0px;
}
/* code for the the 4 images at the bottom of index page */
#style-for-images-at-the-bottom .col-6{
    padding: 2px;
}
#style-for-images-at-the-bottom img{
    transition: 0.5s ease-in-out;
}
#style-for-images-at-the-bottom img:hover{
border-radius: 50%;
box-shadow: 5px 1px 16px 4px purple; 
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif; 
  font-weight: bold;
  color: #fafafa;
  text-transform: uppercase;
}
#img-background-colour{
    background-color: #fafafa;
}
#style-for-images-at-the-bottom h3{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 40px;
    letter-spacing: 3px;
    margin: 15px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #style-for-images-at-the-bottom img {
    height: 200px !important;
  }
}

